<mat-card>
    <form [formGroup]="editDetailForm" novalidate>
      <div fxLayout="row wrap" fxLayoutAlign="space-between">
      <mat-form-field fxFlex="48" fxFlex.lt-md="100">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" name="firstName">
        <mat-error>First name is required.</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="48" fxFlex.lt-md="100">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" name="lastName">
        <mat-error>Last name is required.</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="48" fxFlex.lt-md="100">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phoneNumber" name="phoneNumber">
      </mat-form-field>
      <mat-form-field fxFlex="48" fxFlex.lt-md="100">
        <mat-label>Email Address</mat-label>
        <input matInput #emailAddress formControlName="emailAddress" name="emailAddress">
        <mat-error *ngIf="!emailAddress.value">Email is required.</mat-error>
        <mat-error *ngIf="!!emailAddress.value">Must be a valid email address.</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="48" fxFlex.lt-md="100">
        <mat-select placeholder="Contact Method" formControlName="preferredContactMethod" name="preferredContactMethod">
          <mat-option value="email">Email</mat-option>
          <mat-option value="phone">Phone</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    </form>
    <mat-dialog-actions>
      <button mat-raised-button (click)="save()" color="primary">Save</button>
    </mat-dialog-actions>
</mat-card>

