<mat-card>
  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
    <span>Customers</span>
    <span fxFlex> </span>
    <button class="addButton" mat-mini-fab color="primary" (click)="addCustomer()">
      <mat-icon aria-label="Add Customer">add</mat-icon>
    </button>
  </mat-card-title>

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Filter Customers</mat-label>
      <input type="text" matInput [formControl]="filterInput">
    </mat-form-field>
  </form>

  <app-customer-list-table [customers]="(customers$ | async) || []" (openCustomer)="viewDetail($event)"></app-customer-list-table>
</mat-card>
